<div class="text-right">
    <div class="dropdown @(Active ? "show" : null)">
        <button @onclick="DropDown" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
            @Title
        </button>
        <div class="dropdown-menu dropdown-menu-right @(Active ? "show" : null)" aria-labelledby="dropdownMenu2">
            @foreach (var i in DDItem) {
            <button class="dropdown-item @(QuantityPerPage == i ? "active" : null)" type="button" @onclick="() => SelectDropDown(i)">@i</button>
            }
        </div>
    </div>
</div>

@code
{
        [Parameter] public string Title { get; set; }
        [Parameter] public int QuantityPerPage { get; set; }
        [Parameter] public int[] DDItem { get; set; }
    [Parameter] public EventCallback<int> SetQuantityPerPage { get; set; }


    private bool Active = false;


    private void DropDown()
    {
        if (!Active)
        {
            Active = true;
        }
        else
        {
            Active = false;
        }

    }

    private async Task SelectDropDown(int q)
    {
        await SetQuantityPerPage.InvokeAsync(q);
        DropDown();

    }

}
