@page "/article/{Id}"
@using Blazor.Controller
@using Blazor.Models
@inject IArticleController ArticleController
@inject IAutorController AutorController
@inject IJSRuntime JSRuntime

<h3>@articleEntity.Title</h3>

<div>@((MarkupString)articleEntity.ArticleText)</div>

    <div>Дата: @articleEntity.CreateData.ToString("dd.mm.yyyy")</div>

    @code {

        [Parameter] public string Id { get; set; }

        Article articleEntity = new Article();

        protected override async Task OnInitializedAsync()
        {
            articleEntity = await ArticleController.GetById(Convert.ToInt32(Id));

        }


        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setTitle", articleEntity.Title); ;
        }

    }
